# Import dataset

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
df = pd.read_csv('/Users/marina/Desktop/IRON HACK LABS/wk7-ml-project/imdb_top_1000.csv')

In [ ]:
# clean column names

# Cleaning column names

In [14]:
df.columns = df.columns.str.strip().str.lower()

# Display the DataFrame to verify changes
print(df)

                                           poster_link  \
0    https://m.media-amazon.com/images/M/MV5BMDFkYT...
1    https://m.media-amazon.com/images/M/MV5BM2MyNj...
2    https://m.media-amazon.com/images/M/MV5BMTMxNT...
3    https://m.media-amazon.com/images/M/MV5BMWMwMG...
4    https://m.media-amazon.com/images/M/MV5BMWU4N2...
..                                                 ...
995  https://m.media-amazon.com/images/M/MV5BNGEwMT...
996  https://m.media-amazon.com/images/M/MV5BODk3Yj...
997  https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998  https://m.media-amazon.com/images/M/MV5BZTBmMj...
999  https://m.media-amazon.com/images/M/MV5BMTY5OD...

                 series_title released_year certificate  runtime  \
0    The Shawshank Redemption          1994           A  142 min
1               The Godfather          1972           A  175 min
2             The Dark Knight          2008          UA  152 min
3      The Godfather: Part II          1974           A  202 min
4                12 Angry Men          1957           U   96 min
..                        ...           ...         ...      ...
995    Breakfast at Tiffany's          1961           A  115 min
996                     Giant          1956           G  201 min
997     From Here to Eternity          1953      Passed  118 min
998                  Lifeboat          1944         NaN   97 min
999              The 39 Steps          1935         NaN   86 min

                        genre  imdb_rating  \
0                       Drama          9.3
1                Crime, Drama          9.2
2        Action, Crime, Drama          9.0
3                Crime, Drama          9.0
4                Crime, Drama          9.0
..                        ...          ...
995    Comedy, Drama, Romance          7.6
996            Drama, Western          7.6
997       Drama, Romance, War          7.6
998                Drama, War          7.6
999  Crime, Mystery, Thriller          7.6

                                              overview  meta_score  \
0    Two imprisoned men bond over a number of years...        80.0
1    An organized crime dynasty's aging patriarch t...       100.0
2    When the menace known as the Joker wreaks havo...        84.0
3    The early life and career of Vito Corleone in ...        90.0
4    A jury holdout attempts to prevent a miscarria...        96.0
..                                                 ...         ...
995  A young New York socialite becomes interested ...        76.0
996  Sprawling epic covering the life of a Texas ca...        84.0
997  In Hawaii in 1941, a private is cruelly punish...        85.0
998  Several survivors of a torpedoed merchant ship...        78.0
999  A man in London tries to help a counter-espion...        93.0

                 director              star1              star2  \
0          Frank Darabont        Tim Robbins     Morgan Freeman
1    Francis Ford Coppola      Marlon Brando          Al Pacino
2       Christopher Nolan     Christian Bale       Heath Ledger
3    Francis Ford Coppola          Al Pacino     Robert De Niro
4            Sidney Lumet        Henry Fonda        Lee J. Cobb
..                    ...                ...                ...
995         Blake Edwards     Audrey Hepburn     George Peppard
996        George Stevens   Elizabeth Taylor        Rock Hudson
997        Fred Zinnemann     Burt Lancaster   Montgomery Clift
998      Alfred Hitchcock  Tallulah Bankhead        John Hodiak
999      Alfred Hitchcock       Robert Donat  Madeleine Carroll

              star3           star4  no_of_votes        gross
0        Bob Gunton  William Sadler      2343110   28,341,469
1        James Caan    Diane Keaton      1620367  134,966,411
2     Aaron Eckhart   Michael Caine      2303232  534,858,444
3     Robert Duvall    Diane Keaton      1129952   57,300,000
4     Martin Balsam    John Fiedler       689845    4,360,000
..              ...             ...          ...          ...
995   Patricia Neal     Buddy Ebsen       166544          NaN
996      James Dean   Carroll Baker        34075          NaN
997    Deborah Kerr      Donna Reed        43374   30,500,000
998   Walter Slezak  William Bendix        26471          NaN
999  Lucie Mannheim  Godfrey Tearle        51853          NaN

[1000 rows x 16 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster_link    1000 non-null   object
 1   series_title   1000 non-null   object
 2   released_year  1000 non-null   object
 3   certificate    899 non-null    object
 4   runtime        1000 non-null   object
 5   genre          1000 non-null   object
 6   imdb_rating    1000 non-null   float64
 7   overview       1000 non-null   object
 8   meta_score     843 non-null    float64
 9   director       1000 non-null   object
 10  star1          1000 non-null   object
 11  star2          1000 non-null   object
 12  star3          1000 non-null   object
 13  star4          1000 non-null   object
 14  no_of_votes    1000 non-null   int64
 15  gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

# Convert runtime into intiger

In [32]:

def convert_runtime(value):
    if isinstance(value, str):
        return int(value.replace(" min", "").strip())
    return value

df['runtime'] = df['runtime'].apply(convert_runtime)

print(df)

                                           poster_link  \
0    https://m.media-amazon.com/images/M/MV5BMDFkYT...
1    https://m.media-amazon.com/images/M/MV5BM2MyNj...
2    https://m.media-amazon.com/images/M/MV5BMTMxNT...
3    https://m.media-amazon.com/images/M/MV5BMWMwMG...
4    https://m.media-amazon.com/images/M/MV5BMWU4N2...
..                                                 ...
995  https://m.media-amazon.com/images/M/MV5BNGEwMT...
996  https://m.media-amazon.com/images/M/MV5BODk3Yj...
997  https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998  https://m.media-amazon.com/images/M/MV5BZTBmMj...
999  https://m.media-amazon.com/images/M/MV5BMTY5OD...

                 series_title released_year certificate  runtime  \
0    The Shawshank Redemption          1994           A      142
1               The Godfather          1972           A      175
2             The Dark Knight          2008          UA      152
3      The Godfather: Part II          1974           A      202
4                12 Angry Men          1957           U       96
..                        ...           ...         ...      ...
995    Breakfast at Tiffany's          1961           A      115
996                     Giant          1956           G      201
997     From Here to Eternity          1953      Passed      118
998                  Lifeboat          1944         NaN       97
999              The 39 Steps          1935         NaN       86

                        genre  imdb_rating  \
0                       Drama          9.3
1                Crime, Drama          9.2
2        Action, Crime, Drama          9.0
3                Crime, Drama          9.0
4                Crime, Drama          9.0
..                        ...          ...
995    Comedy, Drama, Romance          7.6
996            Drama, Western          7.6
997       Drama, Romance, War          7.6
998                Drama, War          7.6
999  Crime, Mystery, Thriller          7.6

                                              overview  meta_score  \
0    Two imprisoned men bond over a number of years...        80.0
1    An organized crime dynasty's aging patriarch t...       100.0
2    When the menace known as the Joker wreaks havo...        84.0
3    The early life and career of Vito Corleone in ...        90.0
4    A jury holdout attempts to prevent a miscarria...        96.0
..                                                 ...         ...
995  A young New York socialite becomes interested ...        76.0
996  Sprawling epic covering the life of a Texas ca...        84.0
997  In Hawaii in 1941, a private is cruelly punish...        85.0
998  Several survivors of a torpedoed merchant ship...        78.0
999  A man in London tries to help a counter-espion...        93.0

                 director              star1              star2  \
0          Frank Darabont        Tim Robbins     Morgan Freeman
1    Francis Ford Coppola      Marlon Brando          Al Pacino
2       Christopher Nolan     Christian Bale       Heath Ledger
3    Francis Ford Coppola          Al Pacino     Robert De Niro
4            Sidney Lumet        Henry Fonda        Lee J. Cobb
..                    ...                ...                ...
995         Blake Edwards     Audrey Hepburn     George Peppard
996        George Stevens   Elizabeth Taylor        Rock Hudson
997        Fred Zinnemann     Burt Lancaster   Montgomery Clift
998      Alfred Hitchcock  Tallulah Bankhead        John Hodiak
999      Alfred Hitchcock       Robert Donat  Madeleine Carroll

              star3           star4  no_of_votes        gross
0        Bob Gunton  William Sadler      2343110   28,341,469
1        James Caan    Diane Keaton      1620367  134,966,411
2     Aaron Eckhart   Michael Caine      2303232  534,858,444
3     Robert Duvall    Diane Keaton      1129952   57,300,000
4     Martin Balsam    John Fiedler       689845    4,360,000
..              ...             ...          ...          ...
995   Patricia Neal     Buddy Ebsen       166544          NaN
996      James Dean   Carroll Baker        34075          NaN
997    Deborah Kerr      Donna Reed        43374   30,500,000
998   Walter Slezak  William Bendix        26471          NaN
999  Lucie Mannheim  Godfrey Tearle        51853          NaN

[1000 rows x 16 columns]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster_link    1000 non-null   object
 1   series_title   1000 non-null   object
 2   released_year  1000 non-null   object
 3   certificate    899 non-null    object
 4   runtime        1000 non-null   int64
 5   genre          1000 non-null   object
 6   imdb_rating    1000 non-null   float64
 7   overview       1000 non-null   object
 8   meta_score     843 non-null    float64
 9   director       1000 non-null   object
 10  star1          1000 non-null   object
 11  star2          1000 non-null   object
 12  star3          1000 non-null   object
 13  star4          1000 non-null   object
 14  no_of_votes    1000 non-null   int64
 15  gross          831 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 125.1+ KB

# Convert column 'gross' to float

In [37]:

def convert_gross(value):
    if isinstance(value, str):
        # Remove any commas and convert to float
        return float(value.replace(",", ""))
    return float(value)


df['gross'] = df['gross'].apply(convert_gross)

print(df)

                                           poster_link  \
0    https://m.media-amazon.com/images/M/MV5BMDFkYT...
1    https://m.media-amazon.com/images/M/MV5BM2MyNj...
2    https://m.media-amazon.com/images/M/MV5BMTMxNT...
3    https://m.media-amazon.com/images/M/MV5BMWMwMG...
4    https://m.media-amazon.com/images/M/MV5BMWU4N2...
..                                                 ...
995  https://m.media-amazon.com/images/M/MV5BNGEwMT...
996  https://m.media-amazon.com/images/M/MV5BODk3Yj...
997  https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998  https://m.media-amazon.com/images/M/MV5BZTBmMj...
999  https://m.media-amazon.com/images/M/MV5BMTY5OD...

                 series_title released_year certificate  runtime  \
0    The Shawshank Redemption          1994           A      142
1               The Godfather          1972           A      175
2             The Dark Knight          2008          UA      152
3      The Godfather: Part II          1974           A      202
4                12 Angry Men          1957           U       96
..                        ...           ...         ...      ...
995    Breakfast at Tiffany's          1961           A      115
996                     Giant          1956           G      201
997     From Here to Eternity          1953      Passed      118
998                  Lifeboat          1944         NaN       97
999              The 39 Steps          1935         NaN       86

                        genre  imdb_rating  \
0                       Drama          9.3
1                Crime, Drama          9.2
2        Action, Crime, Drama          9.0
3                Crime, Drama          9.0
4                Crime, Drama          9.0
..                        ...          ...
995    Comedy, Drama, Romance          7.6
996            Drama, Western          7.6
997       Drama, Romance, War          7.6
998                Drama, War          7.6
999  Crime, Mystery, Thriller          7.6

                                              overview  meta_score  \
0    Two imprisoned men bond over a number of years...        80.0
1    An organized crime dynasty's aging patriarch t...       100.0
2    When the menace known as the Joker wreaks havo...        84.0
3    The early life and career of Vito Corleone in ...        90.0
4    A jury holdout attempts to prevent a miscarria...        96.0
..                                                 ...         ...
995  A young New York socialite becomes interested ...        76.0
996  Sprawling epic covering the life of a Texas ca...        84.0
997  In Hawaii in 1941, a private is cruelly punish...        85.0
998  Several survivors of a torpedoed merchant ship...        78.0
999  A man in London tries to help a counter-espion...        93.0

                 director              star1              star2  \
0          Frank Darabont        Tim Robbins     Morgan Freeman
1    Francis Ford Coppola      Marlon Brando          Al Pacino
2       Christopher Nolan     Christian Bale       Heath Ledger
3    Francis Ford Coppola          Al Pacino     Robert De Niro
4            Sidney Lumet        Henry Fonda        Lee J. Cobb
..                    ...                ...                ...
995         Blake Edwards     Audrey Hepburn     George Peppard
996        George Stevens   Elizabeth Taylor        Rock Hudson
997        Fred Zinnemann     Burt Lancaster   Montgomery Clift
998      Alfred Hitchcock  Tallulah Bankhead        John Hodiak
999      Alfred Hitchcock       Robert Donat  Madeleine Carroll

              star3           star4  no_of_votes        gross
0        Bob Gunton  William Sadler      2343110   28341469.0
1        James Caan    Diane Keaton      1620367  134966411.0
2     Aaron Eckhart   Michael Caine      2303232  534858444.0
3     Robert Duvall    Diane Keaton      1129952   57300000.0
4     Martin Balsam    John Fiedler       689845    4360000.0
..              ...             ...          ...          ...
995   Patricia Neal     Buddy Ebsen       166544          NaN
996      James Dean   Carroll Baker        34075          NaN
997    Deborah Kerr      Donna Reed        43374   30500000.0
998   Walter Slezak  William Bendix        26471          NaN
999  Lucie Mannheim  Godfrey Tearle        51853          NaN

[1000 rows x 16 columns]

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster_link    1000 non-null   object
 1   series_title   1000 non-null   object
 2   released_year  1000 non-null   object
 3   certificate    899 non-null    object
 4   runtime        1000 non-null   int64
 5   genre          1000 non-null   object
 6   imdb_rating    1000 non-null   float64
 7   overview       1000 non-null   object
 8   meta_score     843 non-null    float64
 9   director       1000 non-null   object
 10  star1          1000 non-null   object
 11  star2          1000 non-null   object
 12  star3          1000 non-null   object
 13  star4          1000 non-null   object
 14  no_of_votes    1000 non-null   int64
 15  gross          831 non-null    float64
dtypes: float64(3), int64(2), object(11)
memory usage: 125.1+ KB

# Drop null for column 'gross'

In [48]:
# null values in each column 
null_counts = df.isnull().sum()
print("Number of null values in each column before dropping:")
print(null_counts)
df.info()

Number of null values in each column before dropping:
poster_link        0
series_title       0
released_year      0
certificate      101
runtime            0
genre              0
imdb_rating        0
overview           0
meta_score       157
director           0
star1              0
star2              0
star3              0
star4              0
no_of_votes        0
gross            169
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster_link    1000 non-null   object
 1   series_title   1000 non-null   object
 2   released_year  1000 non-null   object
 3   certificate    899 non-null    object
 4   runtime        1000 non-null   int64
 5   genre          1000 non-null   object
 6   imdb_rating    1000 non-null   float64
 7   overview       1000 non-null   object
 8   meta_score     843 non-null    float64
 9   director       1000 non-null   object
 10  star1          1000 non-null   object
 11  star2          1000 non-null   object
 12  star3          1000 non-null   object
 13  star4          1000 non-null   object
 14  no_of_votes    1000 non-null   int64
 15  gross          831 non-null    float64
dtypes: float64(3), int64(2), object(11)
memory usage: 125.1+ KB

In [54]:
#Drop null values in column 'gross'

df = df.dropna(subset=['gross'])

display(df)

,poster_link,series_title,released_year,certificate,runtime,genre,imdb_rating,overview,meta_score,director,star1,star2,star3,star4,no_of_votes,gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,https://m.media-amazon.com/images/M/MV5BYjRmY2...,Giù la testa,1971,PG,157,"Drama, War, Western",7.6,A low-life bandit and an I.R.A. explosives exp...,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,696690.0
991,https://m.media-amazon.com/images/M/MV5BMzAyND...,Kelly's Heroes,1970,GP,144,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,1378435.0
992,https://m.media-amazon.com/images/M/MV5BMjAwMT...,The Jungle Book,1967,U,78,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,141843612.0
994,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,13780024.0
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,30500000.0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 831 entries, 0 to 997
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster_link    831 non-null    object
 1   series_title   831 non-null    object
 2   released_year  831 non-null    object
 3   certificate    785 non-null    object
 4   runtime        831 non-null    int64
 5   genre          831 non-null    object
 6   imdb_rating    831 non-null    float64
 7   overview       831 non-null    object
 8   meta_score     750 non-null    float64
 9   director       831 non-null    object
 10  star1          831 non-null    object
 11  star2          831 non-null    object
 12  star3          831 non-null    object
 13  star4          831 non-null    object
 14  no_of_votes    831 non-null    int64
 15  gross          831 non-null    float64
dtypes: float64(3), int64(2), object(11)
memory usage: 110.4+ KB

# Drop null for column 'certificate'

In [58]:
df = df.dropna(subset=['certificate'])

display(df)

,poster_link,series_title,released_year,certificate,runtime,genre,imdb_rating,overview,meta_score,director,star1,star2,star3,star4,no_of_votes,gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,https://m.media-amazon.com/images/M/MV5BYjRmY2...,Giù la testa,1971,PG,157,"Drama, War, Western",7.6,A low-life bandit and an I.R.A. explosives exp...,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,696690.0
991,https://m.media-amazon.com/images/M/MV5BMzAyND...,Kelly's Heroes,1970,GP,144,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,1378435.0
992,https://m.media-amazon.com/images/M/MV5BMjAwMT...,The Jungle Book,1967,U,78,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,141843612.0
994,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,13780024.0
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,30500000.0

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 785 entries, 0 to 997
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster_link    785 non-null    object
 1   series_title   785 non-null    object
 2   released_year  785 non-null    object
 3   certificate    785 non-null    object
 4   runtime        785 non-null    int64
 5   genre          785 non-null    object
 6   imdb_rating    785 non-null    float64
 7   overview       785 non-null    object
 8   meta_score     714 non-null    float64
 9   director       785 non-null    object
 10  star1          785 non-null    object
 11  star2          785 non-null    object
 12  star3          785 non-null    object
 13  star4          785 non-null    object
 14  no_of_votes    785 non-null    int64
 15  gross          785 non-null    float64
dtypes: float64(3), int64(2), object(11)
memory usage: 104.3+ KB

# Drop null for column 'meta_score'

In [68]:
df = df.dropna(subset=['meta_score'])

display(df)

,poster_link,series_title,released_year,certificate,runtime,genre,imdb_rating,overview,meta_score,director,star1,star2,star3,star4,no_of_votes,gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,https://m.media-amazon.com/images/M/MV5BYjRmY2...,Giù la testa,1971,PG,157,"Drama, War, Western",7.6,A low-life bandit and an I.R.A. explosives exp...,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,696690.0
991,https://m.media-amazon.com/images/M/MV5BMzAyND...,Kelly's Heroes,1970,GP,144,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,1378435.0
992,https://m.media-amazon.com/images/M/MV5BMjAwMT...,The Jungle Book,1967,U,78,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,141843612.0
994,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,13780024.0
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,30500000.0

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 997
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster_link    714 non-null    object
 1   series_title   714 non-null    object
 2   released_year  714 non-null    object
 3   certificate    714 non-null    object
 4   runtime        714 non-null    int64
 5   genre          714 non-null    object
 6   imdb_rating    714 non-null    float64
 7   overview       714 non-null    object
 8   meta_score     714 non-null    float64
 9   director       714 non-null    object
 10  star1          714 non-null    object
 11  star2          714 non-null    object
 12  star3          714 non-null    object
 13  star4          714 non-null    object
 14  no_of_votes    714 non-null    int64
 15  gross          714 non-null    float64
dtypes: float64(3), int64(2), object(11)
memory usage: 94.8+ KB

# statistics for column gross

In [78]:
min_gross = df['gross'].min()
max_gross = df['gross'].max()
max_gross = df['gross'].mean()

print(f"The minimum gross value is: {min_gross}")
print(f"The maximum gross value is: {max_gross}")
print(f"The average gross value is: {max_gross}")

The minimum gross value is: 1305.0
The maximum gross value is: 78513585.2394958
The average gross value is: 78513585.2394958

In [82]:

gross_stats = df['gross'].describe()

formatted_stats = gross_stats.apply(lambda x: f"{x:,.2f}")

print(formatted_stats)

count            714.00
mean      78,513,585.24
std      114,977,950.33
min            1,305.00
25%        6,157,408.50
50%       34,850,145.50
75%      102,464,067.00
max      936,662,225.00
Name: gross, dtype: object

# statistics for column 'imdb_rating'

In [92]:
imdb_rating_stats = df['imdb_rating'].describe()

rounded_stats_rating = imdb_rating_stats.round(2)

print(rounded_stats)

count    714.00
mean       7.94
std        0.29
min        7.60
25%        7.70
50%        7.90
75%        8.10
max        9.30
Name: imdb_rating, dtype: float64

# statistics for column 'meta_score'

In [ ]:
meta-score_stats = df['meta_score'].describe()

rounded_stats = imdb_rating_stats.round(2)

print(rounded_stats)